<!--Display of a books deatails >> always pick only the last object-->
<div *ngFor="let book of bookDet; index as i; last as isLast">
    <div *ngIf=isLast>
        <div class="col-lg-12">
            <h2 class="text-center"><u>{{book.volumeInfo.title}}</u></h2>
            <h6 class="text-center">{{book.volumeInfo.subtitle}}</h6>
            <div class="text-center" *ngFor="let aut of book.volumeInfo.authors">
                <h6><b>Authors: {{ aut }}</b></h6>
            </div>
            <img class="img-responsive center-block d-block mx-auto" src="{{ book.volumeInfo.imageLinks.thumbnail }}"
                alt="Missing a Picture">
            <h6 class="text-center">{{book.volumeInfo.description}}</h6>

        </div>
    </div>
</div>